* {
  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 12px;    
}

#root {
  width: 100%;
  height: 100%;  
  
}

.conteiner-App {  
  min-width: 100%;    
  display: inline-block;
  background: #1c100c;
}
